
@import url(fontawesome-all.min.css);

body {
    /* background: linear-gradient(45deg, rgb(6, 4, 12), rgb(15, 19, 32),  rgb(0, 19, 31),  rgb(1, 6, 10)); */
	background-color: #050801;
    position: relative;
    color: antiquewhite;
	width: 100%;
	overflow-x: hidden;
    height: auto;
}

html {
	overflow-x: hidden;
    overflow-y: visible;
    height: auto;
}

.foto_personal {
    width: 70%;
	border-radius: 50%;
	box-shadow: 0 4px 6px rgba(54, 54, 54, 0.918);
	filter: grayscale(80%);
    transition: all 0.4s ease-in-out;
	margin-top: 2em;
}

.foto_personal:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, p, label {
    margin-bottom: 2rem;
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 5rem;
}

.degradado {
	background-image: linear-gradient(to right, #03e9f4, 
	#89b8ffd2,  #03e9f4);
	background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    
    font-weight: bold;
    display: inline-block!important;

	animation: gradient-move 20s linear infinite;
}

@keyframes gradient-move {
	0% {
		background-position: 0% center;
	}

	100% {
		background-position: 200% center;
	}
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 30px;
}

p, label {
	font-size: 20px;
}

.card {
    margin-bottom: 2rem;
	background-color: #1d1e20;
	color: antiquewhite;
	box-shadow: 0 4px 6px rgba(54, 54, 54, 0.918);
}

.inner {
	text-align: center;
}

.inner a {
	text-decoration: none;
}

li {
    list-style-type: none
}

a {
	position: relative;
	display: inline-block;
	padding: 10px 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #03e9f4!important;
	font-size: 1rem;
	font-weight: bold;
	transition: .5s;
	overflow: hidden;
	background: transparent;
	border: none;
}

.nav-link{
    color: antiquewhite;
}

.nav-link:hover {
    color: #03e9f4;
}

h3 {
    text-align: center;
}

#footer {
	margin-left: 12em;
}

#sidebar + main.container {
	margin-left: 12em;
}

#sidebar.active + main.container {
	margin-left: 0em;
	padding: 0 5em 5em 5em;
}



#sidebar.active ~ #footer {
	margin-left: 0; 
}

#sidebar .toggle-btn{
position: absolute;
left: 213px;
top: 60px;
cursor: pointer;
}

#sidebar.active {
	left:-12em;
	width: 250px;

}

#sidebar.active .iconos-sidebar {
    display: flex;
}

#sidebar{
	cursor: default;
	height: 100vh;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	padding: 4em 4em 0.5em 1em ;
	text-align: right;
	width: 16em;
	z-index: 2000;
	transition: all 300ms;
	background-color: #0f0e0e;
}

.iconos-sidebar {
	position: absolute;
	left: auto;
	right: 18px;
	top: 50%;
    transform: translateY(-50%);
	flex-direction: column;
    align-items: center; 
    gap: 25px;
    font-size: 1.5rem;
	color: antiquewhite;
	display: none;
}

.iconos-sidebar i {
    cursor: pointer;
    transition: transform 0.2s;
}

.iconos-sidebar i:hover {
    transform: scale(1.2);
    color: #0d6efd;
}

.iconos-sidebar a::after {
    content: attr(data-name);
    position: absolute;
    right: 40px;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

/* Mostrar Tooltip al hacer hover */
.iconos-sidebar a:hover::after {
    opacity: 1;
}

/* Efecto visual en el icono */
.iconos-sidebar i:hover {
    color: #0d6efd;
    transform: scale(1.1);
}

#sidebar nav > ul {
	list-style: none;
	padding: 0;
	font-size: 1.5rem;
}

#sidebar nav > ul > li {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
	-webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
	-ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
	transition: opacity 0.15s ease, transform 0.75s ease;
	margin: 1.5em 0 0 0;
	opacity: 1;
	padding: 0;
	position: relative;
}

#sidebar nav a {
	-moz-transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	transition: color 0.2s ease;
	border: 0;
	/* color: rgba(255, 255, 255, 0.613); */
	display: block;
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 0.25em;
	line-height: 1.75;
	outline: 0;
	padding: 1.35em 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

	#sidebar nav a:before, #sidebar nav a:after {
		border-radius: 0.2em;
		bottom: 0;
		content: '';
		height: 0.2em;
		position: absolute;
		right: 0;
		width: 100%;
	}

	#sidebar nav a:before {
		background: #3c2c62;
	}

	#sidebar nav a:after {
		background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
		background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
		background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
		background-image: linear-gradient(to right, #5e42a6, #b74e91);
		-moz-transition: max-width 0.2s ease;
		-webkit-transition: max-width 0.2s ease;
		-ms-transition: max-width 0.2s ease;
		transition: max-width 0.2s ease;
		max-width: 0;
	}


	
#sidebar nav a.active:after {
	max-width: 100%;
}

body.is-preload #sidebar > .inner {
	opacity: 0;
}

body.is-preload #sidebar nav ul li {
	-moz-transform: translateY(2em);
	-webkit-transform: translateY(2em);
	-ms-transform: translateY(2em);
	transform: translateY(2em);
	opacity: 0;
}

#sidebar nav a:hover {
	color: antiquewhite!important;
}

#sidebar nav a.active {
	color: #03e9f4;
}

.nav-link.active{
    color: rgb(129, 82, 168)!important;
}

#sidebar .nav-item.dropdown {
	position: relative;
	z-index: 3000;
}

#sidebar .dropdown-menu {
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 4000;
	background-color:  #1d1e20;
}

.navbar .dropdown-menu {
	background-color: #1d1e20;
}

.navbar .dropdown-menu li a:hover {
	background-color: #030b31;
}

#sidebar .dropdown-menu li a:hover {
	background-color: #03e9f4;
	color: black!important;
}

.dropdown-menu li a {
	color: antiquewhite;
}

.navbar {
	z-index: 2500;
	width: 100%;
	left: 0;
	right: 0;
}

.mascara {
	background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5em;
    border-radius: 15%;
	position: relative;

	mask-image: radial-gradient(
    ellipse 90% 90% at center, 
        black 0%,
        rgba(0, 0, 0, 1) 20%, 
		rgba(0, 0, 0, 0.25) 35%, 
        rgba(0, 0, 0, 0.5) 50%, 
		rgba(0, 0, 0, 0.25) 70%, 
        rgba(0, 0, 0, 0.1) 80%,
        transparent 100%
    );
	-webkit-mask-image: radial-gradient(
        ellipse 90% 90% at center, 
        black 0%,
        rgba(0, 0, 0, 1) 20%, 
		rgba(0, 0, 0, 0.25) 35%, 
        rgba(0, 0, 0, 0.5) 50%, 
		rgba(0, 0, 0, 0.25) 70%, 
        rgba(0, 0, 0, 0.1) 80%,
        transparent 100%
    );
    
    -webkit-mask-image: radial-gradient(
        ellipse 80% 80% at center, 
        black 20%, 
        transparent 100%
    );

	transform: translateZ(0);
    will-change: backdrop-filter, mask-image;
}

.presentacion {
	margin-top: 12rem;
	padding-bottom: 36px;
}

.presentacion .nombre-dev {
	z-index: 1000;
}

.card-body {
	background-color: #1d1e20;
	color: antiquewhite;
}

#bienvenido {
	text-align: center;
	margin: 0 0 2rem 0;
	font-size: 20px!important;
}

.efecto {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: none!important;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.efecto span:nth-child(1) {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #03e9f4);
animation: animate1 1s infinite;
}

@keyframes animate1 {
0% { left: -100%; }
100% { left: 100%; }
}

.efecto span:nth-child(2) {
position: absolute;
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #03e9f4);
animation: animate2 1s infinite;
animation-delay: .25s;
}

@keyframes animate2 {
0% { top: -100%; }
100% { top: 100%; }
}

.efecto span:nth-child(3) {
position: absolute;
bottom: 0;
right: 0;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #03e9f4);
animation: animate3 1s infinite;
animation-delay: .5s;
}

@keyframes animate3 {
0% { right: -100%; }
100% { right: 100%; }
}

.efecto span:nth-child(4) {
position: absolute;
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #03e9f4);
animation: animate4 1s infinite;
animation-delay: .75s;
}

@keyframes animate4 {
0% { bottom: -100%; }
100% { bottom: 100%; }
}

.form-control { 
	background-color: transparent;
	color: antiquewhite;
	border: 1px solid #03e9f4
}

.form-control:focus {
	background-color: transparent;
	box-shadow: 0 0 0 0.25rem rgba(0,123,255,0.25);
	color: antiquewhite;
}

button {
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #03e9f4;
	font-size: 1.2rem;
	font-weight: bold;
	transition: .5s;
	overflow: hidden;
	margin-right: 70px;
	background: transparent;
	border: none;
}

#my-form-button:hover {
	background-color: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 200px #03e9f4;
				-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
				transform: scale(1.2);
			}

.icons li > a {
	text-decoration: none;
}

#sidebar2{
	position: fixed;
	top: 0;
	right: 0;
	width: 6em;
	top: 13em;
	padding: 2em ;
	cursor: default;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10000;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.social-icons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-left: 3px;
}

.social-icons a:hover, .icons a:hover, #footer a:hover, .card a:hover, form a:hover {
	transition: all 250ms ease-out;
	transform: scale(1.3);
}

.maqu {
	font-family: monospace;
	font-size: 2rem;
	white-space: nowrap;       /* evita que se corte el texto */
	overflow: hidden;          /* oculta lo que aún no aparece */
	border-right: 3px solid #03e9f4; /* cursor */
	width: 0; 
	animation: typing 4s steps(20, end) forwards, 
	blink 0.7s step-end infinite;
	margin-top:50px;
	
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink {
	50% { border-color: transparent }
}

#myModal .modal-dialog {
	max-width: 90%;
	max-height: 90vh;
	width: 700px;
}	

#myModal .modal-content {
    padding: 0;
    margin: 0;       
	border: none!important
}

#myModal .carousel-inner {
	width: 100%;
	height: 100%;
}

#myModal .carousel-inner img {
	width: 100%;
	height: auto;
	object-fit: cover;
    display: block;  
}

#myModal .carousel,
#myModal .carousel-inner,
#myModal .carousel-item {
    height: 100%;
    display: flex;
}

figure {
    position: relative;
    height: 20em;
    width: 20em;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    transition: all 250ms ease-out;
}

figure .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

figure:hover {
    transform: scale(1.05);
}

figure:hover .capa {
    opacity: 1;
    visibility: visible;
}

figure .capa h3 {
    color: white;
    margin: 0;
    padding: 10px;
    transition: all 500ms ease-out;
    transform: scale(0.8);
}

figure:hover .capa h3 {
    transform: scale(1.1);
}

#finalizados, #in_progress {
	scroll-margin-top: 5rem;
	margin-top: 5rem;
}

#in_progress {
	margin-bottom: 5rem;
}

#finalizados, #in_progress, #skills {
    position: relative;
}

#skills {
	overflow: hidden;
	padding-top: 5rem;
	padding-bottom: 7rem;
	margin-bottom: 0 !important;
	/* background-color: #262921; */
}

#finalizados::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 5rem;
    bottom: 0;
    width: 2px;
    background: linear-gradient(to bottom, transparent, #03e9f4, transparent);
    transform: translateX(-50%);
}

.timeline-img, .timeline-content {
    padding: 3rem 50px 3rem 50px;
}

.timeline-img figure {
    width: 100%;
    max-width: 230px;
	height: 250px;
    margin: 0 auto;
    border-radius: 5px;
	transform: skewX(-10deg);
	object-fit: cover;
}

.timeline-img figure:hover {
	transform: skewX(-10deg) scale(1.1);
	transition: transform 0.3s ease;
}

.timeline-item .timeline-content {
    text-align: left !important;
}

/* Items Pares (Zigzag): Texto a la izquierda de la imagen, alineado a la derecha (hacia la línea) */
.timeline-item:nth-child(even) .timeline-content {
    text-align: right !important;
}

/* Ajuste de paddings para que no se separen de la línea central */
.timeline-img {
    padding-right: 25px !important;
}
.timeline-item:nth-child(even) .timeline-img {
    padding-left: 25px !important;
    padding-right: 0 !important;
}

.skill-card {
    background: #1a1a1a;
    padding: 2rem 1rem;
    border-radius: 12px;
    border: 1px solid #333;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.skill-card p {
    color: antiquewhite;
    margin: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.skill-card:hover {
    transform: translateY(-10px);
    border-color: #0d6efd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.skill-card i.colored {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.skill-card:hover i.colored {
    filter: grayscale(0%);
}

.tech-icons {
	display: flex;
	gap: 25px;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #6c757d;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #495057;
}

/* Para Firefox */
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #6c757d transparent;
}

.modal-dialog-fullscreen .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-body.custom-scrollbar {
    flex-grow: 1; /* El texto ocupa el resto del espacio */
}
.modal-title, .modal-body {
	color: rgb(191, 243, 247);
}

.modal-top-static {
    flex-shrink: 0;
    background: #1a1a1a;
}

section h3 {
	margin-bottom: 5rem;
}

.wrapper-cards {
    transform: skewX(-10deg);
    margin: 10px 30px;

    /* --- EFECTO VIDRIO (GLASSMORPHISM) --- */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 40px 0 0 0;
}

.wrapper-cards::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    background: linear-gradient(
        135deg, 
        rgba(65, 172, 221, 0.281) 0%,
        rgba(255, 255, 255, 0.05) 50%,
        rgba(100, 100, 255, 0.1) 100% 
    );

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 	
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    z-index: -1;
}

.card-content {
    position: relative;
    z-index: 1;
}

.wrapper-cards > * {
    transform: skewX(10deg);
}

@keyframes fadeInInit {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes revealDesc {
    from { 
        opacity: 0; 
        transform: translateX(50px); 
    }
    to { 
        opacity: 1; 
        transform: translateX(0); 
    }
}

.nombre-dev {
	animation: 
        fadeInInit 1.5s ease-out forwards, 
        fade-away linear both;
	color:  #03e9f4
}

.descripcion-dev {
	opacity: 0;
	animation: 
		revealDesc 1s ease-out 0.8s forwards;
		animation-timeline: auto;
}	

.autoShow {
	opacity: 0;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
}

.autoShow2 {
    opacity: 0;
	transform: skewX(-10deg);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
}

.autoShow.visible {
    opacity: 1;
    translate: 0 0;
}


.carousel-container {
	display: flex;
	overflow-x: auto;
	-webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}

.carousel-container::-webkit-scrollbar {
	display: none;
}

.grupo {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	animation: spin 10s infinite linear;
	padding-right: 1em;
	padding-top: 1em;
}

.carousel-container:hover .grupo {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#proyectos {
	background-color: #0f0e0e;
	position: relative;
    overflow: hidden;
}

.linea {
	display: none;
}


@media (max-width: 1480px) {
	#main {
		margin-left: 180px;    /* ancho cerrado del sidebar */
		transition: margin-left 0.3s;
	}

	#sidebar2 {
		display: block;
	}

	#sidebar.active ~ #main {
		margin-left: 100px;   /* ancho abierto del sidebar */
	}

	body, html {
		overflow-x: hidden;
	}

	.navbar {
		display: none;
	}
}

@media screen and (max-width: 980px) {
	#sidebar {
		display: none;
	}

	.navbar {
		display: block;
	}

	#sidebar2 {
		display: block;
	}

	#main {
	margin: auto;
	transition: margin-left 0.3s;
	}

	main.container,
    #footer {
        margin-left: auto
    }

	.foto_personal {
		width: 40%;
	}
}

@media screen and (max-width: 736px) {

	#sidebar {
		display: none;
	}

	.navbar {
		display: block;
	}

	#sidebar2 {
		display: none;
	}

    main.container,
    #footer {
        margin-left: 0 !important;
    }

	.row.d-flex.justify-content-center {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center !important;
    }

    /* Ajuste de las columnas de las cards */
    .row.d-flex.justify-content-center > .col-md-4 {
        flex: 0 0 90% !important;   /* ancho 90% */
        max-width: 90% !important;  /* ancho máximo 90% */
        margin-bottom: 1rem;        /* separación vertical */
    }

    .row.d-flex.justify-content-center .card {
        margin: 0 auto;
	}

	div.presentacion .nombre-dev{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 0 !important;
	}

	div.presentacion .descripcion-dev {
		margin-left: 10px;
		margin-right: 10px;
	}

	#myModal .modal-dialog {
		margin: 0.5rem auto!important;
		max-width: 98% !important;
		margin-top: 6rem;
	}

	#myModal .modal-content {
		height: auto;
		max-height: 90vh;
	}

	#myModal .carousel-inner {
        height: auto;
    }

	.card-content {
		padding: 1rem;
	}

	#finalizados::before {
        display: none;
    }

	.timeline-img, .timeline-content {
        padding: 1.5rem 10px !important;
        width: 100% !important;
        text-align: left !important; 
    }

    .timeline-item:nth-child(even) {
        flex-direction: column !important;
    }

    .timeline-item:nth-child(even) .timeline-content {
        text-align: left !important;
    }

	.wrapper-cards {
        padding: 1.5rem 10px !important;
    }

	.linea {
		display: block;
	}

	.linea2 {
		display: none;
	}

	.timeline-img figure {
		width: 100%;
		max-width: 360px;
		object-fit: cover;
	}

	.posicion-relativa-movil {
		position: relative;
		display: flex !important;
        flex-direction: column;
		min-height: 80svh;
        margin-top: 2rem;
		overflow: hidden;
	}

	.contenedor-animacion {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		opacity: 0.6;
	}

	.presentacion {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		width: 100%;
		z-index: 10;
		margin-top: 10rem !important;
		padding: 0 15px;
		pointer-events: none;
	}

	.presentacion h1, .presentacion h2 {
        pointer-events: auto;
    }

    .animacion {
        margin: 0 auto;
    }

	.catalogo {
		margin-bottom: 0 !important;
	}

	.en_desarrollo {
		margin-bottom: 2rem !important;
	}
}

.animacion {
	display: grid;
    grid-template-columns: repeat(30, 1fr); 
    width: fit-content;
	z-index: 1000;
			mask-image: radial-gradient(
        ellipse 80% 80% at center, 
        black 20%, 
        transparent 100%
    );
    -webkit-mask-image: radial-gradient(
        ellipse 80% 80% at center, 
        black 20%, 
        transparent 100%
    );
    -webkit-mask-image: radial-gradient(
        ellipse 80% 80% at center, 
        black 20%, 
        transparent 100%
    );
}

.dot-wrapper {
    padding: 6px;
    cursor: crosshair;
}

.animacion .punto-element {
	position: relative;
	width: 10px;
	height: 10px; 
	background: #333;
	border-radius: 50%;
	scale: 0.8;
	background: linear-gradient(to bottom, #ff27d0, #03e9f4);
}

.fuzzy-overlay {
	position: absolute;
	top: -10%;
    left: -10%;
    width: 200%;
    height: 200%;
    background-image: url("https://www.hover.dev/black-noise.png");
    background-repeat: repeat;
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;

}

section, #proyectos {
    position: relative;
    z-index: 1;
}

#pres {
	margin-top: 3rem;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
    margin: 0 !important;
	gap: 2rem;
}

.icons li {
    margin: 0;
    padding: 0;
    display: flex;
}
