
@import url(fontawesome-all.min.css);

body {
    background: linear-gradient(45deg, rgb(6, 4, 12), rgb(15, 19, 32),  rgb(0, 19, 31),  rgb(1, 6, 10));
    position: relative;
    color: antiquewhite;
	width: 100%
}

html {
    scroll-behavior: smooth;
}

.foto_personal {
    width: 70%;
	border-radius: 50%;
	box-shadow: 0 4px 6px rgba(54, 54, 54, 0.918);
	filter: grayscale(80%);
    transition: all 0.4s ease-in-out;
	margin-top: 2em;
}

.foto_personal:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, label {
    margin-bottom: 2rem;
	font-family: monospace;
}

p {
	font-family: monospace;
}

.card {
    margin-bottom: 2rem;
	background-color: #1d1e20;
	color: antiquewhite;
	box-shadow: 0 4px 6px rgba(54, 54, 54, 0.918);
}

.inner {
	text-align: center;
}

.inner a {
	text-decoration: none;
}

li {
    list-style-type: none
}

a {
	position: relative;
	display: inline-block;
	padding: 10px 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #03e9f4!important;
	font-size: 1rem;
	font-weight: bold;
	transition: .5s;
	overflow: hidden;
	background: transparent;
	border: none;
}

.nav-link{
    color: antiquewhite;
}

.nav-link:hover {
    color: #03e9f4;
}

h3 {
    text-align: center;
}

#footer {
	margin-left: 12em;
}

/* Sidebar */

#sidebar + main.container {
	margin-left: 12em;
}

#sidebar.active + main.container {
	margin-left: 0em;
	padding: 0 5em 5em 5em;
}



#sidebar.active ~ #footer {
	margin-left: 0; 
}

#sidebar .toggle-btn{
position: absolute;
left: 213px;
top: 60px;
cursor: pointer;
}

#sidebar.active {
	left:-12em;
	width: 250px;

}

#sidebar.active .iconos-sidebar {
    display: flex;
}

#sidebar{
	cursor: default;
	height: 100vh;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	padding: 4em 4em 0.5em 1em ;
	text-align: right;
	width: 16em;
	z-index: 2000;
	transition: all 300ms;
	background-color: #0f0e0e;
}

.iconos-sidebar {
	position: absolute;
	left: auto;
	right: 18px;
	top: 50%;
    transform: translateY(-50%);
	flex-direction: column;
    align-items: center; 
    gap: 25px;
    font-size: 1.5rem;
	color: antiquewhite;
	display: none;
}

.iconos-sidebar i {
    cursor: pointer;
    transition: transform 0.2s;
}

.iconos-sidebar i:hover {
    transform: scale(1.2);
    color: #0d6efd;
}

.iconos-sidebar a::after {
    content: attr(data-name);
    position: absolute;
    right: 40px;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

/* Mostrar Tooltip al hacer hover */
.iconos-sidebar a:hover::after {
    opacity: 1;
}

/* Efecto visual en el icono */
.iconos-sidebar i:hover {
    color: #0d6efd;
    transform: scale(1.1);
}

#sidebar nav > ul {
	list-style: none;
	padding: 0;
	font-size: 1.5rem;
}

#sidebar nav > ul > li {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
	-webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
	-ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
	transition: opacity 0.15s ease, transform 0.75s ease;
	margin: 1.5em 0 0 0;
	opacity: 1;
	padding: 0;
	position: relative;
}

#sidebar nav a {
	-moz-transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	transition: color 0.2s ease;
	border: 0;
	/* color: rgba(255, 255, 255, 0.613); */
	display: block;
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 0.25em;
	line-height: 1.75;
	outline: 0;
	padding: 1.35em 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

	#sidebar nav a:before, #sidebar nav a:after {
		border-radius: 0.2em;
		bottom: 0;
		content: '';
		height: 0.2em;
		position: absolute;
		right: 0;
		width: 100%;
	}

	#sidebar nav a:before {
		background: #3c2c62;
	}

	#sidebar nav a:after {
		background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
		background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
		background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
		background-image: linear-gradient(to right, #5e42a6, #b74e91);
		-moz-transition: max-width 0.2s ease;
		-webkit-transition: max-width 0.2s ease;
		-ms-transition: max-width 0.2s ease;
		transition: max-width 0.2s ease;
		max-width: 0;
	}


	
#sidebar nav a.active:after {
	max-width: 100%;
}

body.is-preload #sidebar > .inner {
	opacity: 0;
}

body.is-preload #sidebar nav ul li {
	-moz-transform: translateY(2em);
	-webkit-transform: translateY(2em);
	-ms-transform: translateY(2em);
	transform: translateY(2em);
	opacity: 0;
}

#sidebar nav a:hover {
	color: antiquewhite!important;
}

#sidebar nav a.active {
	color: #03e9f4;
}

.nav-link.active{
    color: rgb(129, 82, 168)!important;
}

#sidebar .nav-item.dropdown {
	position: relative;
	z-index: 3000;
}

#sidebar .dropdown-menu {
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 4000;
	background-color: #030b31;
}

.navbar .dropdown-menu {
	background-color: #1d1e20;
}

.navbar .dropdown-menu li a:hover {
	background-color: #030b31;
}

#sidebar .dropdown-menu li a:hover {
	background-color: #03e9f4;
	color: black!important;
}

.dropdown-menu li a {
	color: antiquewhite;
}

.navbar {
	z-index: 2500;
	width: 100%;
	left: 0;
	right: 0;
}

@media (max-width: 1480px) {
	#main {
		margin-left: 180px;    /* ancho cerrado del sidebar */
		transition: margin-left 0.3s;
	}

	#sidebar2 {
		display: block;
	}

	#sidebar.active ~ #main {
		margin-left: 100px;   /* ancho abierto del sidebar */
	}

	body, html {
		overflow-x: hidden;
	}

	.navbar {
		display: none;
	}

}

@media screen and (max-width: 980px) {
	#sidebar {
		display: none;
	}

	.navbar {
		display: block;
	}

	#sidebar2 {
		display: block;
	}

	#main {
	margin: auto;    /* ancho cerrado del sidebar */
	transition: margin-left 0.3s;
	}

	main.container,
    #footer {
        margin-left: auto /* eliminar cualquier margen que quede */
    }

	.foto_personal {
		width: 40%;
	}

	.mensaje{
	font-size: 3rem!important;
	margin-top: 5rem!important;
}
}

@media screen and (max-width: 736px) {

	#sidebar, #sidebar2 {
		display: none;
	}

	.navbar {
		display: block;
	}

    main.container,
    #footer {
        margin-left: 0 !important;
		padding-left: 5px !important;
        padding-right: 5px !important;
    }

	.row.d-flex.justify-content-center {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center !important;
    }

	.col-md-4, .col-md-8, .presentacion {
			flex: 0 0 100% !important;
			max-width: 100% !important;
			width: 100% !important;
			padding: 0 !important;
			text-align: center;
		}

    .row.d-flex.justify-content-center .card {
        margin: 0 auto;
	}

	.foto_personal {
		width: 40%;
		margin: 1rem auto;
	}

	.mensaje{
		font-size: 2rem!important;
		margin-top: 5rem!important;
		margin-bottom: 5px!important;
	}

	.presentacion {
		margin-top: 5px !important;
		flex: 0 0 90% !important;
        max-width: 90% !important;
        margin-left: auto;
        margin-right: auto;
	}

	#myModal .modal-dialog {
		margin: 0.5rem auto!important;
		max-width: 90%!important;
		width: 90%;
		display: flex;
		align-items: center;
		min-height: calc(100% - 1rem)
	}

	#myModal .modal-content {
		height: auto;
		max-height: 95vh;
		width: 100%;
	}

	#myModal .carousel-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

	#modalRepositorioLink, #modalLink {
		width: auto;
        flex: 1;
        font-size: 0.75rem;
        padding: 8px 4px;
        margin: 0 !important;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        justify-content: center;
	}
}

#finalizados .row, #in_progress .row {
    display: flex !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-content: space-between !important;
}

/* Evita que las columnas se compriman */
#finalizados .col-md-4, #finalizados .col-md-8 {
    flex-shrink: 0; /* Impide que la columna se achique más de lo debido */
}

.card-body {
	background-color: #1d1e20;
	color: antiquewhite;
}

#bienvenido {
	text-align: center;
	margin: 0 0 2rem 0;
	font-size: 20px!important;
}

.efecto {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: none!important;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.efecto span:nth-child(1) {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #03e9f4);
animation: animate1 1s infinite;
}

@keyframes animate1 {
0% { left: -100%; }
100% { left: 100%; }
}

.efecto span:nth-child(2) {
position: absolute;
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #03e9f4);
animation: animate2 1s infinite;
animation-delay: .25s;
}

@keyframes animate2 {
0% { top: -100%; }
100% { top: 100%; }
}

.efecto span:nth-child(3) {
position: absolute;
bottom: 0;
right: 0;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #03e9f4);
animation: animate3 1s infinite;
animation-delay: .5s;
}

@keyframes animate3 {
0% { right: -100%; }
100% { right: 100%; }
}

.efecto span:nth-child(4) {
position: absolute;
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #03e9f4);
animation: animate4 1s infinite;
animation-delay: .75s;
}

@keyframes animate4 {
0% { bottom: -100%; }
100% { bottom: 100%; }
}

.form-control { 
	background-color: transparent;
	color: antiquewhite;
	border: 1px solid #03e9f4
}

.form-control:focus {
	background-color: transparent;
	box-shadow: 0 0 0 0.25rem rgba(0,123,255,0.25);
	color: antiquewhite;
}

button {
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #03e9f4;
	font-size: 1.2rem;
	font-weight: bold;
	transition: .5s;
	overflow: hidden;
	margin-right: 70px;
	background: transparent;
	border: none;
}

#my-form-button:hover {
	background-color: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 200px #03e9f4;
				-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
				transform: scale(1.2);
			}

.icons li > a {
	text-decoration: none;
}

#sidebar2{
	position: fixed;
	top: 0;
	right: 0;
	width: 6em;
	top: 13em;
	padding: 2em ;
	cursor: default;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10000;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}	

.social-icons {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-left: 3px;
}

.social-icons a:hover, .icons a:hover, #footer a:hover, .card a:hover, form a:hover {
	transition: all 250ms ease-out;
	transform: scale(1.3);
}

.maqu {
	font-family: monospace;
	font-size: 3rem;
	white-space: nowrap;       /* evita que se corte el texto */
	overflow: hidden;          /* oculta lo que aún no aparece */
	border-right: 3px solid #03e9f4; /* cursor */
	width: 0; 
	animation: typing 4s steps(20, end) forwards, 
	blink 0.7s step-end infinite;
	margin-top:50px;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink {
	50% { border-color: transparent }
}

#myModal .modal-dialog {
	max-width: 90%;
	max-height: 90vh;
	width: 700px;
}

#myModal .modal-content {
    padding: 0;
    margin: 0;       
	border: none!important
}

#myModal .carousel-inner {
	width: 100%;
	height: 100%;
}

#myModal .carousel-inner img {
	width: 100%;
	height: auto;
	object-fit: cover;
    display: block;  
}

#myModal .carousel,
#myModal .carousel-inner,
#myModal .carousel-item {
    height: 100%;
    display: flex;
}

figure {
    position: relative;
    height: 20em;
    width: 20em;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    transition: all 250ms ease-out;
}

figure .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

figure:hover {
    transform: scale(1.05);
}

figure:hover .capa {
    opacity: 1;
    visibility: visible;
}

figure .capa h3 {
    color: white;
    margin: 0;
    padding: 10px;
    transition: all 500ms ease-out;
    transform: scale(0.8);
}

figure:hover .capa h3 {
    transform: scale(1.1);
}

.presentacion {
	margin-top: 4em;
}

#finalizados, #in_progress, #skills {
	margin-top: 5rem;
	scroll-margin-top: 50px;
	margin-bottom: 5rem;
}

#finalizados .row, #in_progress .row {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.flex-md-row-reverse .col-md-8 {
    flex-grow: 1;
}

main {
	margin-bottom: 10rem;
}

.skill-card {
    background: #1a1a1a;
    padding: 2rem 1rem;
    border-radius: 12px;
    border: 1px solid #333;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-card i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.skill-card p {
    color: antiquewhite;
    margin: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.skill-card:hover {
    transform: translateY(-10px);
    border-color: #0d6efd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.skill-card i.colored {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.skill-card:hover i.colored {
    filter: grayscale(0%);
}

.tech-icons {
	margin-top: 3rem;
	display: flex;
	gap: 25px;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #6c757d;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #495057;
}

/* Para Firefox */
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #6c757d transparent;
}

.modal-dialog-fullscreen .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-body.custom-scrollbar {
    flex-grow: 1; /* El texto ocupa el resto del espacio */
}
.modal-title, .modal-body {
	color: rgb(191, 243, 247);
}

.modal-top-static {
    flex-shrink: 0;
    background: #1a1a1a;
}