{%extends 'base.html' %}
{%load static%}
{%block content%}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="mt-3">Formulario de Contacto</h2>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputNombre">
            </div>
            <div class="col-md-6">
                <label for="inputApellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="inputApellido">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="col-12 text-end">
                <button id="my-form-button" class="efecto" type="submit" class="button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>

{%endblock%}