{%extends 'base.html' %}
{%load static%}
{%block content%}

<section class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="mt-3 mb-5"><i class="bi bi-envelope" style="color: #03e9f4!important;"></i>    Formulario de Contacto</h2>
            <form id="my-form" method="post" action="https://formspree.io/f/mgvwdnqz" class="row g-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="col-md-6">
                    <label for="last_name" class="form-label">Apellido</label>
                    <input type="text" class="form-control" name="last_name" id="last_name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                </div>

                <div class="col-12 text-end">
                    <button id="my-form-button" class="efecto button" type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Enviar
                    </button>
                </div>
                <p id="my-form-status"></p>
            </form>
        </div>
    </div>
</section>

{%endblock%}
