{%extends 'base.html' %}
{%load static%}
{%block content%}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <main>
            <h3 class="maqu mensaje mt-5">{{mensaje}}</h2>
            <div class="row">
                <div class="d-flex justify-content-center mb-5">
                    <img src="{%static 'images/yop.jpg' %}" class="foto_personal" alt="foto_personal">
                </div>
                <h2 id="bienvenido">Bienvenido a mi portafolio</h1>ñ
            </div>
            
        </main>
    </div>
</div>

{%endblock%}
