{%extends 'base.html' %}
{%load static%}
{%block content%}

<section>
    <section id="presentacion">
        <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <main id="pres">
                        <div class="row posicion-relativa-movil">
                            <div class="col-md-7 presentacion order-2 order-md-1">
                                <div class="nombre-dev">
                                    <h1 class="degradado">Bienvenido...</h1>
                                </div>
                                <h2 class="descripcion-dev">Soy Javier, Desarrollador web y analista Programador/estudiante de Ing. Informática con experiencia en la creación de sitios web dinámicos y funcionales. Explora mi portafolio para ver mis proyectos recientes y habilidades técnicas.</h2>
                            </div>
                            <div class="col-md-5 order-1 order-md-2 contenedor-animacion">
                                <div class="d-flex justify-content-center">
                                    <div class="animacion" id="dot-grid"></div>
                                <!-- <img src="{%static 'images/yop.jpg' %}" class="foto_personal" alt="foto_personal"> -->
                                </div>
                            </div>
                        </div>
                </main>
            </div>
        </div>
    </section>
    
    <section id="proyectos">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <section id="finalizados">
                    <div class="autoShow2">
                        <h3 class="catalogo"><i class="bi bi-code-slash" style="color: #03e9f4!important;"></i>    Catálogo de Proyectos</h3>
                    </div>
                    <div class="row d-flex justify-content-center flex-wrap">
                    {%if projects%}
                        {%for project in projects%}
                            {%if not project.en_progreso %}
                            <div class="autoShow">
                                <div class="{% cycle 'normal-row' 'reverse-row' %}">                                        
                                <div class="card-content">                                 
                                    <div class="row mb-5 {% cycle '' 'flex-row-reverse' %}">    
                                            <div class="col-md-6 timeline-img d-flex justify-content-center">
                                                <figure class="openModalButton"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#myModal"
                                                    data-titulo = '{{project.titulo}}'
                                                    data-descripcion = '{{project.descripcion}}'
                                                    data-tech = '{% for tech in project.tecnologias.all %}{{ tech.icono_class }} {% endfor %}'
                                                    {% if project.link %} data-link="{{ project.link }}" {% endif %}
                                                    data-repositorio = '{{project.repositorio}}'     
                                                    {%for img in project.imagenes.all %}
                                                            data-img{{forloop.counter}}="{{ img.imagen.url }}"
                                                    {% endfor %}>
                                                    <img src="{% if project.imgPrincipal %}{{ project.imgPrincipal.url }}{% else %}https://via.placeholder.com/300{% endif %}" class="card-img-top" alt="..." style="width: 100%; height: 100%; object-fit: cover;" alt="...">
                                                    <div class="capa">
                                                        <h3>VER GALERÍA</h3>
                                                    </div>
                                                </figure>
                                            </div>
                                            
                                            <div class="col-md-6 timeline-content">
                                                <h4>{{project.titulo}}</h4>
                                                <p>{{project.descripcion}}<p>
                                                <div class="tech-icons">
                                                    {%for tech in project.tecnologias.all %}
                                                        <i class="{{tech.icono_class}} colored" style="font-size: 20px;" data-name="{{tech.nombre}}"></i>
                                                    {%endfor%}
                                                </div>
                                                <div class="d-flex flex-row gap-2 justify-content-center justify-content-md-start">
                                                    {%if project.link%}
                                                        <a href="{{project.link}}" target="_blank" class="btn btn-secondary mt-3"><i class="bi bi-globe2"></i>  Visitar proyecto</a>
                                                    {%endif%}
                                                    <a href="{{project.repositorio}}" target="_blank" class="btn btn-secondary mt-3"><i class="devicon-github-plain"></i>  Repositorio</a>
                                                </div>
                                                <hr class="linea2 mt-5" style="color: aliceblue;">
                                            </div>
                                        </div>
                                    </div>
                                </div>                                         
                            </div>
                            <hr class="linea" style="color: aliceblue;">
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                    </div>
                </section>
            </div>
        
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <section id="in_progress">
                    <div class="autoShow2">
                        <h3 class="en_desarrollo"><i class="bi bi-code-slash" style="color: #03e9f4!important;"></i>    Próximamente:</h3>
                    </div>
                    <div class="row d-flex justify-content-center">                            
                            {%for project in projects%}
                                {%if project.en_progreso%}     
                                <div class="wrapper-cards autoShow2">
                                    <div class="card-content"> 
                                        <div class="row mb-5 {% cycle '' 'flex-row-reverse' %}">
                                                <div class="col-md-4 d-flex justify-content-center">
                                                    <figure class="openModalButton"
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#myModal"
                                                        data-titulo = '{{project.titulo}}'
                                                        data-descripcion = '{{project.descripcion}}'
                                                        data-tech = '{% for tech in project.tecnologias.all %}{{ tech.icono_class }} {% endfor %}'
                                                        {% if project.link %} data-link="{{ project.link }}" {% endif %}
                                                        data-repositorio = '{{project.repositorio}}'
                                                        {%for img in project.imagenes.all %}
                                                                data-img{{forloop.counter}}="{{ img.imagen.url }}"
                                                        {% endfor %}>
                                                        <img src="{% if project.imgPrincipal %}{{ project.imgPrincipal.url }}{% else %}https://via.placeholder.com/300{% endif %}" class="card-img-top" alt="..." style="width: 100%; height: 100%; object-fit: cover;" alt="...">
                                                        <div class="capa">
                                                            <h3>VER GALERÍA</h3>
                                                        </div>
                                                    </figure>
                                                </div>
                                            
                                            <div class="col-md-8 mt-3">
                                                <h4>{{project.titulo}}</h4>
                                                <p class="mt-4">{{project.descripcion}}</p>
                                                <div class="tech-icons">
                                                    {%for tech in project.tecnologias.all %}
                                                        <i class="{{tech.icono_class}} colored" style="font-size: 20px;"></i>
                                                    {%endfor%}
                                                </div>
                                                <div>
                                                    <div class="botones d-flex flex-row gap-2 justify-content-center justify-content-md-start">
                                                        {%if project.link%}
                                                            <a href="{{project.link}}" target="_blank" class="btn btn-secondary mt-4 botones-card"><i class="bi bi-globe2"></i>  Visitar proyecto</a>
                                                        {%endif%}
                                                        <a href="{{project.repositorio}}" target="_blank" class="btn btn-secondary mt-4 botones-card"><i class="devicon-github-plain"></i>  Repositorio</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            {%endfor%}
                        </div>
                </section>
            </div>
        </div>
    </section>

    <section id="skills">
        <div class="fuzzy-overlay"></div>
        <h3><i class="bi bi-tools" style="color: #03e9f4!important;"></i>    Herramientas y tecnologías</h3>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="carousel-container">
                    <div class="grupo">
                        <div class="skill-card">
                            <i class="devicon-python-plain colored"></i>
                            <p>Python</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-javascript-plain colored"></i>
                            <p>JavaScript</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-html5-plain colored"></i>
                            <p>HTML5</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-css3-plain colored"></i>
                            <p>CSS3</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-django-plain colored"></i>
                            <p>Django</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-fastapi-plain colored"></i>
                            <p>FastAPI</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-react-original colored"></i>
                            <p>React</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-azuresqldatabase-plain colored"></i>
                            <p>SQL</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-postgresql-plain colored"></i>
                            <p>PostgreSQL</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-mongodb-plain colored"></i>
                            <p>MongoDB</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-docker-plain colored"></i>
                            <p>Docker</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-git-plain colored"></i>
                            <p>Git</p>
                        </div>
                    </div>

                    <div class="grupo" aria-hidden="true">
                        <div class="skill-card">
                            <i class="devicon-python-plain colored"></i>
                            <p>Python</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-javascript-plain colored"></i>
                            <p>JavaScript</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-html5-plain colored"></i>
                            <p>HTML5</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-css3-plain colored"></i>
                            <p>CSS3</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-django-plain colored"></i>
                            <p>Django</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-fastapi-plain colored"></i>
                            <p>FastAPI</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-react-original colored"></i>
                            <p>React</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-azuresqldatabase-plain colored"></i>
                            <p>SQL</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-postgresql-plain colored"></i>
                            <p>PostgreSQL</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-mongodb-plain colored"></i>
                            <p>MongoDB</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-docker-plain colored"></i>
                            <p>Docker</p>
                        </div>

                        <div class="skill-card">
                            <i class="devicon-git-plain colored"></i>
                            <p>Git</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</section>

<div class="row">
    <div class="modal" id="myModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-fullscreen">
                    <div class="modal-content" style="background-color: rgb(44, 44, 44);">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitulo"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-top-static p-3">
                            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                <div id="carouselExample" class="carousel slide carousel-fade">
                                    <div class="carousel-inner" id="carouselInner"></div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <div class="carousel-control-prev-icon" aria-hidden="true"></div>
                                    <div class="visually-hidden">Previous</div>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <div class="carousel-control-next-icon" aria-hidden="true"></div>
                                    <div class="visually-hidden">Next</div>							
                                    </button>
                                </div>						
                            </div>					
                        </div>
                    <div class="modal-body custom-scrollbar" style="overflow-y: auto;">
                        <p id="modalDescripcion" class="mt-3"></p>
                        <div class="d-flex flex-column flex-sm-row gap-2">
                            <a href="#" id="modalRepositorioLink" target="_blank" class="btn btn-dark">
                            <i class="devicon-github-original"></i> GitHub
                            </a>
                            <a href="#" id="modalLink" target="_blank" class="btn btn-primary">Visitar Web</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const targets = document.querySelectorAll('.autoShow2')
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    anime({
                        targets: entry.target,
                        opacity: [0, 1],
                        skewX: [-10, -10],
                        translateY: [100, 0],
                        duration: 1000,
                        easing: 'easeOutQuart',
                        complete: function(anim) {
                            entry.target.style.transform = ''; 
                            entry.target.style.filter = 'none';

                        }
                    });
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.2 });

        targets.forEach(el => observer.observe(el));
    });
        document.addEventListener('DOMContentLoaded', () => {
        const targets = document.querySelectorAll('.autoShow')
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const isEven = entry.target.matches(':nth-child(even)');
            
                    anime({
                        targets: entry.target,
                        opacity: [0, 1],
                        translateX: isEven ? [100, 0] : [-100, 0],
                        duration: 1200,
                        easing: 'easeOutQuart'
                    });
                    observer.unobserve(entry.target);
                            observer.unobserve(entry.target);
                        }
                    });
                }, { threshold: 0.2 });

        targets.forEach(el => observer.observe(el));
    });

window.onload = function() {

        const grid_ancho = 30
        const grid_alto = 25
        
        const container = document.getElementById('dot-grid');

        let index= 0;

        for (let i = 0; i < grid_ancho; i++) {
            for (let j = 0; j < grid_alto; j++) {
                const wrapper = document.createElement('div');
                wrapper.className = 'dot-wrapper';
                wrapper.setAttribute('data-index', index);

                const punto = document.createElement('div');
                punto.className = 'punto-element';
                punto.setAttribute('data-index', index);
                wrapper.appendChild(punto);
                container.appendChild(wrapper);

                index++
            }
        }

        container.addEventListener('click', (e) => {
        const targetIndex = e.target.getAttribute('data-index');
        if (targetIndex !== null) {
            lanzarAnimacion((targetIndex));
        }
    })

    function lanzarAnimacion(desdeDonde) {
        anime({
            targets: '.punto-element',
            scale: [
                {value: 1.35, easing: 'easeOutSine', duration: 250},
                {value: 1, easing: 'easeInOutQuad', duration: 500}
            ],
            translateY: [
                {value: -15, easing: 'easeOutSine', duration: 250},
                {value: 0, easing: 'easeInOutQuad', duration: 500}
            ],
            opacity: [
                {value: 1, easing: 'easeOutSine', duration: 250},
                {value: 0.5, easing: 'easeInOutQuad', duration: 500}
            ],
            delay: anime.stagger(100, {
                grid: [grid_ancho, grid_alto],
                from: parseInt(desdeDonde),
                loop: true
            }),
        });
    };

        lanzarAnimacion('center');
    };

    anime({
    targets: '.fuzzy-overlay',
    translateX: ['-5%', '5%'],
    translateY: ['-5%', '5%'],
    duration: 0.2,
    easing: 'linear',
    direction: 'alternate',
    loop: true
    });

    const navLinks = document.querySelectorAll('.nav-link, .dropdown-item');

    navLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            if (!link.classList.contains('dropdown-toggle')) {
                const navbarCollapse = document.querySelector('.navbar-collapse');
                const bsCollapse = bootstrap.Collapse.getInstance(navbarCollapse) || new bootstrap.Collapse(navbarCollapse);
                bsCollapse.hide();
            }
        });
    });

</script>
{% endblock %}